h1{
	text-align: center;
	margin-bottom: 15px;
}

*{
	box-sizing: border-box;
}

/*.row {
  width: 100%;
  background-color: rosybrown;
}*/
@media(max-width: 767px){
	.col1{
	/*float: left;*/
	position: relative;
	width: 100%;
	margin: 10px;
}
.col2{
	/*float: left;*/
	position: relative;
	width: 100%;
	margin: 10px;
}
.col3{
	position: relative;
	/*clear: both;*/
	width: 100%;
	margin: 10px;
	

}
}
@media(min-width: 768px) and (max-width: 991px){
.col1{
	float: left;
	position: relative;
	width: 33.33%;
	margin: 5px;
	font-size: 20px;
}
.col2{
	float: left;
	position: relative;
	width: 33.33%;
	margin: 5px;
	font-size: 20px;
}
.col3{
	position: relative;
	clear: both;
	width: 68%;
	margin-left: 5px;
	font-size: 20px;

}
}
@media(min-width:  992px){
	.col1{
		float: left;
		position: relative;
		width: 30%;
		margin: 5px;
	}
	.col2{
		float: left;
		position: relative;
		width: 30%;
		margin: 5px;
	}
	.col3{
		float: left;
		position: relative;
		width: 30%;
		margin: 5px;

	}
	}

	.col1{
		border: 1px solid black;
		background-color: grey;
		padding: 5px;
		/*width: 30%;*/
		/*float: left;*/
		/*margin: 10px;*/
		/*position: relative;*/
	

}
	.col2{
		border: 1px solid black;
		background-color: grey;
		padding: 5px;
		/*width: 30%;*/
		/*float: left;*/
		/*margin: 10px;*/
		/*position: relative;*/


}
	.col3{
		border: 1px solid black;
		background-color: grey;
		padding: 5px;
		/*width: 30%;*/
		/*float: left;*/
		/*margin: 10px;*/
		/*position: relative;*/


}
.p1{
	padding: 5px;
	/*border: 1px solid darkred;*/
}

.col1 > .first{
	background-color: deeppink;
	border: 1px solid black;
	text-align: right;
	position: absolute;
	top: 0%;
	right: 0%;

}
.col2 > .second{
	background-color: orange;
	border: 1px solid black;
	text-align: right;
	position: absolute;
	top: 0%;
	right: 0%;
}
.col3 > .third{
	background-color: darkred;
	border: 1px solid black;
	text-align: right;
	position: absolute;
	top: 0%;
	right: 0%;
}


